@import url('https://fonts.googleapis.com/css?family=Archivo');
*{
    box-sizing:content-box;
}

body{
    font-family: 'Archivo', sans-serif;
    background: #181818;
    color:#fff;
    font-weight: 300;
    margin:0;
}

#wrapper{
      display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

#left{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction:column;
    align-items:center;
    height:100vh;
    flex:2;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}
#signin{
       display: flex;
        display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction:column;
    align-items:center;
    width:80%;
    padding-bottom: 0.5rem;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}
#signin form{
    width:80%;
    padding-bottom: 1rem;
}

#signin .logo{
        padding-top:2rem;
        padding-bottom: 1rem;       
}

#signin .pic{
        height:25vh;       
}

#signin label{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight:500;
    padding-bottom: 1rem;
}

#signin .text-input{
    margin-bottom: 1rem;
    width:100%;
    border-radius: 5px;
    background: #181818;
    border: 1px solid #555;
    color:azure;
    padding:0.5rem 1rem;
    line-height:1.3rem;
    font-size:1rem;   
    
}

#right{
    flex:3;
    }

#signin .primary-btn{
    width:100%;
}
.primary-btn{
    padding: 0.7rem 1rem;
    height:1.8rem;
    display:block;
    border:0;
    border-radius: 2px;
    font-size:1.2rem;
    font-weight:500;
    background: #f96816;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    transition: all 0.5s;
        
}

.primary-btn:hover{
   background: #ae480f;
}

#signin .secondary-btn, .or , .links{
    width:70%;
    
}

#signin .links a {
    color:#fff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align:center;
    display:block;
    font-size:1rem;
    
}

.secondary-btn{
    padding: 0.7rem 1rem;
    height:1.8rem;
    display:block;
    border:1px solid #f4f4f4;
    border-radius: 2px;
    font-size:1.2rem;
    font-weight:500;
    background: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    transition: all 0.3s;
}

.secondary-btn:hover{
   border-color:#f96816;
   color:#f96816;
}

#showcase{
    background: url('img/back.jpg') no-repeat center center / cover;
    height:100vh;
    display:flex;    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase .showcase-text{
    font-weight:200;
    width:100%;
    color:white;
    margin-bottom:1.5rem;
    font-size: 4rem;
    
}

#showcase .secondary-btn{
    width:70%;
    margin:auto;
    
}

#main-footer{
    color:#ccc;
    text-align:center;
    max-width: 80%;
    padding-top: 1rem;
    margin-top:2rem;
}
#main-footer a{
    color: #f96816;
}


@media(min-width:1200px){
    #left{
        flex:4;
    }
     #right{
        flex:6;
    }
    
}

@media(max-width:900px){
    #left{
        flex:6;
    }
     #right{
        flex:6;
    }
     #signin .pic{
        margin-top: 5vh;
    }
    
}
@media(max-width:700px){
    
     #right{
        display:none;
    }
    #left{
        justify-content: start;
        -webkit-box-pack: start;
      -moz-box-pack: start;
      -webkit-justify-content: start;
     -ms-flex-pack: start;
        margin-top: 4vh;
    }
  
    
}
